:root {
    font-family: "Montserrat", sans-serif;

    --background: white;
    --text-primary: #181A1B;

    --text-tn: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-2lg: 20px;
    --text-3lg: 24px;

    background-color: var(--background);
    color: var(--text-primary);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}

html {
    min-height: 100vh;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

svg {
    fill: var(--text-primary);
}

svg.only-stroke {
    fill: none;
    stroke: var(--text-primary);
}

[data-theme="dark"] {
    --background: #181A1B;
    --text-primary: white;

    svg {
        fill: var(--text-primary);
    }

    svg.only-stroke {
        fill: none;
        stroke: var(--text-primary);
    }
}

body {
    margin: 0 30px;
    min-height: inherit;
}

#root {
    box-sizing: border-box;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;
    min-height: inherit;
}

a {
    text-decoration: inherit;
    color: #2A7AE2;
}

a:hover {
    color: #535bf2;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: var(--text-3lg);
}

h2 {
    font-size: var(--text-2lg);
}

h3 {
    font-size: var(--text-lg);
}

h4,
h5,
h6 {
    font-size: var(--text-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
}

p {
    font-size: var(--text-md);
    font-weight: 500;
    margin: 0;
}

hr {
    margin: 10px 0;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    background-color: transparent;
    border: none;
    padding: none;
}

@keyframes placeholder-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.hide-mobile {
    display: none;
}

.display-mobile {
    display: inline;
    /* default */
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 100%;

    .logo {
        font-size: var(--text-3lg);
        font-weight: 300;
        color: var(--text-primary);
    }

    .nav-bar-sections {
        display: none;
    }

    .burger-menu {
        width: 44px;
        height: 44px;
        text-align: right;
        padding: 0;
        z-index: 999;
        right: 0;
        margin-right: 30px;
        position: fixed;
    }

    .burger-nav-bar {
        position: fixed;
        background-color: var(--background);
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .burger-nav-bar-sections {
        height: inherit;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        >ul {
            font-size: var(--text-3lg);
            padding: 0;
            margin: 30px 0;
        }

    }
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    max-width: 1100px;

    .profile {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;

        .profile-info {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .avatar {
            text-align: center;
            align-self: center;
            position: relative;
            width: 70%;
            aspect-ratio: 1 / 1;
            min-width: 200px;
            max-width: 300px;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0;
            }

            img:nth-child(1) {
                left: 20px;
                top: 20px;
            }
        }

        .resume {
            display: flex;
            align-items: center;
            column-gap: 7px;
        }
    }

    .experience {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;

        .experience-cards-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;
        column-gap: 50px;

        .projects-cards-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            /* justify-content: space-between; */
            column-gap: 10px;
            row-gap: 20px;
        }
    }

    .blog {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;

        .blog-post {
            >p:first-child {
                color: #828282;
                margin-bottom: 5px;
            }

            a {
                font-weight: 500;
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        justify-content: center;

        .contact-info {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            .email {
                text-decoration: underline;

                color: var(--text-primary);
                font-weight: 500;
            }

            .socials {
                display: flex;
                flex-direction: column;
                row-gap: 10px;


                a>*:first-child {
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
        }
    }
}

.blog-post {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 600px;

    p {
        line-height: 28px;
    }

    .blog-post-image-container {
        width: 100%;

        img {
            width: 100%;
            max-height: 300px;
            object-fit: contain;
        }
    }

    h6 {
        color: #828282;
        font-size: var(--text-md);
    }
}

.github-card-container {
    .github-card {
        height: 140px;
        border: solid 1px var(--text-primary);
        border-radius: 10px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        box-sizing: border-box;
        padding: 14px 16px;
        /* row-gap: 14px; */
        max-width: 330px;

        p {
            font-size: var(--text-tn);
            font-weight: 300;
        }

        .github-card-title {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        .github-card-description {
            display: flex;
            flex-grow: 2;
            padding: 10px 0;
        }

        .github-card-name {
            font-size: var(--text-md);
        }

        .github-card-tag {
            border: solid 1px var(--text-primary);
            border-radius: 25px;
            box-sizing: border-box;
            padding: 2px 7px;
            font-weight: 300;
        }

        .github-card-details {
            display: flex;
            column-gap: 6px;

            span {
                display: inline-block;
                border: 2px solid rgba(255, 255, 255, 0.5);
                border-radius: 25px;
                background-color: #3178C6;
                min-width: 11px;
                min-height: 11px;
            }

            .github-card-language-java {
                background-color: #B07219;
            }

            .github-card-language-python {
                background-color: #3572A5;
            }

            .github-card-language-typescript {
                background-color: #3178C6;
            }

            .github-card-language-javascript {
                background-color: #F1E05A;
            }
        }
    }
}

.github-card-container-placeholder {
    height: 140px;
    border: 1px solid;
    border-color: #D9D9D9; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-around;

    >div {
        height: 20px;
        margin: 0 20px;
    }

    >div:nth-child(2) {
        height: 35px;
    }

    >div:nth-child(3) {
        width: 100px;
    }
}

.preview-card {
    /* border-radius: 15px; */
    max-width: 380px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .image-container>img {
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .preview-card-title {
        font-weight: 700;
    }

    a {
        font-weight: 700;
    }
}

.placeholder {
    animation: placeholder-loading 2s linear infinite alternate;
    border-radius: 5px;
}

.preview-card-placeholder {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 400px;
    /* min-width: 250px; */
    flex-wrap: wrap;

    .image-container-placeholder {
        height: 175px;
    }

    .preview-card-title-placeholder {
        height: 20px;
    }

    .preview-card-desc-placeholder {
        height: 40px;
    }

    .preview-card-link-placeholder {
        height: 10px;
        width: 60px;
    }


}

.side-nav-control {
    display: none;
    position: fixed;
    left: 30px;
    top: 45%;

    ul>li {
        margin: 20px 0;
    }

    .side-nav-control-link {
        width: 25px;
        height: 20px;

        background: linear-gradient(to bottom,
                transparent 0%,
                transparent 40%,
                var(--text-primary) 40%,
                var(--text-primary) 60%,
                transparent 60%,
                transparent 100%);

        a {
            display: block;
            width: 100%;
            height: 100%;
            /* text-decoration: none; */
        }

        transition: 0.4s;
        -webkit-transition: 0.4s;
    }

    .side-nav-control-link-active {
        width: 40px;
        height: 20px;
    }
}

.footer {
    font-size: var(--text-tn);
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;

    .slider {
        position: absolute;
        cursor: pointer;
        border-radius: 25px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset;
        background-color: #345B70;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        border-radius: 25px;
        height: 19px;
        width: 19px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px white;
    }

    input:checked+.slider {
        background-color: white;
    }

    input:checked+.slider:before {
        background-color: #181A1B;
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

.error-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    max-width: 300px;
    row-gap: 20px;

    img {
        width: inherit;
    }

    .error-container-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }
}

@media only screen and (min-width: 800px) {
    html {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .nav-bar {
        position: absolute;
        width: calc(100vw - 60px);

        .burger-menu {
            display: none;
        }

        .nav-bar-sections {
            display: flex;
            flex-grow: 2;
            justify-content: flex-end;
            align-items: center;
            /* width: 50%; */
            column-gap: 3%;

            a {
                color: var(--text-primary);
            }
        }
    }

    .main {
        padding: 0px 100px;
        row-gap: 0px;

        .section {
            scroll-snap-align: start;
            height: 100vh;
        }

        .profile {
            flex-direction: row;
            align-items: center;
            padding: 0 5%;
            column-gap: 35px;
        }

        .experience {

            .experience-cards-container {
                flex-direction: row;
                justify-content: flex-start;
                column-gap: 60px;
            }
        }

        .projects {
            .projects-cards-container {
                flex-direction: row;

                >* {
                    width: 48%;
                }
            }
        }

        .blog {
            padding: 0 20%;
        }

        .contact {
            padding: 0 20%;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: calc(100vw - 60px);
    }

    .side-nav-control {
        display: block;
    }

    .display-mobile {
        display: none;
    }

    .blog-post {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

@media only screen and (min-width: 1000px) {
    .main {
        .profile {
            flex-direction: row;
        }

        .projects {
            .projects-cards-container>* {
                width: 32%;
            }
        }
    }
}